.accordion-wrapper {
	overflow: hidden;
}

.accordion-item {
	border-bottom: 1px solid;
	overflow: hidden;
	padding: 20px;

	&__title {
		align-items: center;
		background: none;
		border: 0;
		display: flex;
		font-size: 1.5rem;
		position: relative;
		text-align: left;
		width: 100%;

		&-text{
			font-weight: normal;
			margin-bottom: 0;
		}

		&::after {
			display: flex;
			position: absolute;
			right: 0;
			content: "\d7";
			font-size: 20px;
			width: 20px;

			.accordion-item[aria-expanded="false"] & {
				transform: rotate(45deg);
			}
		}
	}

	&__content {
		height: 0;
		display: none;

		p {
			font-size: 1.5rem;
		}
	}

	&[aria-expanded="true"] {
		.accordion-item__content {
			display: block;
			margin-top: 20px;
		}
	}
}
