// This is styling is based on this reference https://codepen.io/artursopelnik/pen/wGwXwZ

// Settings
$collapsible-text: (
  'rows': 3,
  'font-size': 16px,
  'line-height': 1.4,
  'duration': 500ms,
  'easing': ease,
  'text-color': #000000,
  'trigger-color': #5848B3,
  'bg-color': #ffffff
);

// Optimal height based on your font size and line-height
$collapsible-text-height: map-get($collapsible-text, 'font-size') * map-get($collapsible-text, 'line-height') * (map-get($collapsible-text, 'rows') + 1);

.collapsible__wrapper {
  line-height: map-get($collapsible-text, 'line-height');
  padding: 4rem;
  > * {
    display: block;
    margin: 0 auto;
    max-width: 33.333%;
  }
}

.collapsible-text {
  position: relative;
  color: map-get($collapsible-text, 'text-color');
  text-decoration: none;
  cursor: text;
  .trigger {
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: map-get($collapsible-text, 'trigger-color');
    font-weight: bold;
  }
  & &__content {
    position: relative;
    overflow: hidden;
    max-height: $collapsible-text-height;
    transition: max-height map-get($collapsible-text, 'duration') map-get($collapsible-text, 'easing');
    &::before {
      content: '';
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(map-get($collapsible-text, 'bg-color'), 1) 50%, rgba(map-get($collapsible-text, 'bg-color'), 1) 100%);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $collapsible-text-height / 2;
      transition: opactiy map-get($collapsible-text, 'duration') map-get($collapsible-text, 'easing'), visibility map-get($collapsible-text, 'duration') map-get($collapsible-text, 'easing');
    }
  }
  &.expanded {
    .collapsible-text__content {
      max-height: 100%; // great value for height animation
    }
    .collapsible-text__content::before,
    .trigger {
      opacity: 0;
      visibility: hidden;
    }
  }
}
